.forecast-container {
  background-image: linear-gradient(to top, #fbd7c7 0%, #9addfc 100%);
  height: 100vh;

  .icons {
    width: 100vw;
    display: flex;
    justify-content: space-between !important;

    .sidebar-open {
      margin: 1rem;
      margin-bottom: 0;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .sidebar-open:hover {
      transform: scale(1.1);
      transition: all 0.3s ease 0s;
    }
  }

  .units {
    margin: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    letter-spacing: 7px;
    display: flex;
    justify-content: flex-end;

    .unit {
      background-color: transparent;
      color: black;
      transition: all 0.3s ease 0s;
      cursor: pointer;
    }

    .unit:hover {
      transform: scale(1.1);
    }
  }

  .current-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .city-name {
      font-size: 2rem;
    }
    .current-temp {
      font-size: 4rem;
    }
    .current-condition {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0.2rem;
    }
  }
  .weekly-otherInfo-container {
    display: flex;
    flex-direction: row;
  }

  @media screen and (max-width: 884px) {
    .weekly-otherInfo-container {
      display: flex;
      flex-direction: column;
    }
  }
}
